/* By Jason Sundram 5/2010. This should give us a full-screen canvas. */

html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    background:gray;
    
    font-family:arial,sans-serif;
    font-size:small;
    color:#666;
}

form{
    position:absolute;
    height:30px;
    min-height:30px;
    top:0;
    left:0;
    width:100%;
    margin: 0 auto;
    background:#DDD;
    
}
canvas#full{
    position:absolute;      /* needed for footer positioning*/
    top:0;
    width:100%;
    background:#DDD;
    height:auto !important; /* real browsers */
    height:100%;            /* IE6: treaded as min-height*/
    min-height:100%;        /* real browsers */
    box-sizing:content-box;
}
